#blog-paragraph {
  padding-top: 65px;
  padding-bottom: 35px;
}

#blog-grid-section {
  .blog-grid {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 65px 30px;
    max-width: 1200px;
    margin: 0 auto;

    @media (min-width: 768px) {
      grid-template-columns: repeat(12, 1fr);
      gap: 30px;
    }

    article {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 0 0 8px 8px;
      width: 100%;
      max-width: 380px;
      grid-column: span 12;

      @media (min-width: 768px) {
        grid-column: span 6;
      }

      @media (min-width: 992px) {
        grid-column: span 4;
      }

      img {
        width: 100%;
        height: 253px;
        object-fit: cover;
        object-position: center;
        margin-bottom: 20px;
      }

      h2 {
        font-size: 26px;
        line-height: 1.1;
        padding-left: 10px;
        padding-right: 10px;

        a {
          color: $dark-blue;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
            text-underline-offset: 3px;
          }
        }
      }
    }
  }
}

/*! purgecss start ignore */
.pagination {
  text-align: center;
  display: block;
  margin-top: 30px;
  margin-bottom: 70px;

  .page-numbers {
    font-size: 25px;
    font-weight: $weight-semi-bold;
    color: $blue;

    &:hover {
      color: $dark-blue;
    }

    &.current {
      color: $dark-blue;
    }

    &.prev {
      margin-right: 15px;
    }

    &.next {
      margin-left: 15px;
    }
  }
}

#blog-single-section {
  padding-top: 65px;
  padding-bottom: 90px;

  .very-thin-container {
    max-width: 800px;
  }

  time {
    text-align: center;
    color: $blue;
    font-size: 17px;
    font-weight: $weight-bold;
    line-height: 1;
    margin-bottom: 25px;
    display: block;
  }

  img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  .sharing-icons-container {
    width: 100%;
    text-align: center;
    padding-top: 30px;

    p {
      font-size: 25px;
      line-height: 1;
      font-weight: $weight-bold;
      margin-bottom: 15px;
      color: $dark-blue;
    }

    .sharing-icons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      margin-bottom: 40px;

      a {
        text-decoration: none;
      }

      img {
        width: 27px;
        height: 27px;
        margin-bottom: 0;
      }
    }    
  }

  .next-post-container {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    a {
      color: $dark-blue;
      font-size: 25px;
      line-height: 1;
      font-weight: $weight-bold;
      text-underline-offset: 3px;
      text-decoration-color: $blue;

      &:hover {
        text-decoration-color: $dark-blue;
      }
    }

    img {
      width: 15px;
      height: 17px;
      margin-bottom: 0;
    }
  }
}

/*! purgecss end ignore */
