/*! purgecss start ignore */
header {
  background-color: $white;
  padding: 10px 20px;

  @media (min-width: 768px) {
    padding-top: 15px 40px;
  }
}

.sticky-time {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  height: auto;
  padding: 0;

  @media (min-width: 992px) {
    align-items: center;
    justify-content: space-between;
    position: relative;

    #navbarToggler {
      justify-content: flex-start;
      display: block !important;
      text-align: right;

      .nav-utility-container {
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        a {
          text-decoration: none;
        }
      }
    }
  }

  .navbar-brand {
    margin-right: 0;

    @media (min-width: 992px) {
      margin-right: 75px;
    }
  }

  .navbar-nav {
    gap: 25px;

    .nav-link {
      padding: 0;
      color: $charcoal;
      line-height: 1;
      font-size: 17px;
      font-weight: $weight-light;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
  
      &:hover {
        text-decoration: underline;
      }
    }

    .nav-item.dropdown {
      position: relative;
    }

    .nav-item:last-child .dropdown-menu {
      right: 0;
      left: unset;
    }

    .dropdown-menu {
      background-color: $light-gray;
      border: 1px solid $charcoal;
      border-radius: 0;
      left: -10px;
      width: 250px;
      display: none;
      position: absolute;
      z-index: 1000;
      top: 100%;
      list-style: none;
      padding: 10px;
      column-count: 1;
      gap: 30px;

      @media (min-width: 992px) {
        column-count: 3;
        gap: 23px;
        width: 530px;
      }

      &.show {
        display: block !important;
        text-align: left;
      }

      li {
        line-height: 1;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          white-space: normal;
          margin-bottom: 0;
          line-height: 1.1;
          font-size: 17px;
          font-weight: $weight-light;
          color: $charcoal;
          text-decoration: none;
          padding: 0;
  
          &:hover {
            text-decoration: underline;
            text-underline-offset: 3px;
            background-color: transparent;
          }
        }
      }
    }

    .dropdown-toggle::after {
      display: none;
    }
  }
}

.navbar-toggler {
  padding: 0;
  border: none;
  background: none;

  &:focus {
    box-shadow: none;
  }

  .navbar-toggler-icon {
    width: 20px;
    height: 20px;
    background: none;
    border-radius: 0;

    .bar {
      width: 20px;
      height: 3px;
      background-color: $charcoal;
      margin: 0 0 5px;
      border-radius: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 1024px) {
  .modal {
    display: none;
  }
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

#mobile-nav {
  @media (max-width: 576px) {
    .modal-dialog.modal-dialog-slideout {
      width: 320px;
    }
  }

  @media (min-width: 576px) {
    .modal-sm {
      max-width: 320px;
    }
  }

  .modal-dialog-slideout {
    min-height: 100%;
    margin: 0 auto 0 0;
    background: $white;
    border-left: 1px solid $blue;
  }

  .modal-dialog.modal-dialog-slideout {
    transform: translate(calc(100vw + 320px), 0);
  }

  &.show .modal-dialog.modal-dialog-slideout {
    transform: translate(calc(100vw - 320px), 0);
    flex-flow: column;
  }

  .modal-dialog-slideout .modal-content {
    background-color: $white;
    border-radius: 0;
    border: none;
  }

  .modal-header {
    border: none;
    justify-content: space-between;
    align-items: center;

    .navbar-brand-mobile {
      margin-bottom: 0;
      display: block;
    }

    .close {
      appearance: none;
      background: none;
      border: none;
    }
  }

  .modal-body {
    padding: 0 20px 20px;
    border-radius: 0;
  }

  .nav-mobile-container {
    .navbar-nav {
      gap: 10px;
    }

    a {
      color: $charcoal;
      font-size: 21px;
      line-height: 1;
      font-weight: $weight-regular;
      text-transform: uppercase;
      text-decoration: none;

      &::after {
        display: none;
      }

      &:hover {
        text-decoration: underline;
        color: $blue;
      }
    }

    ul.dropdown-menu {
      display: none;
      list-style: none;
      padding: 0;
      background-color: $white;
      position: relative !important;
      transform: translate3d(-12px, -10px, 0) !important;
      width: 100%;
      border: none;
      top: 10px !important;
      left: 25px !important;

      &.show {
        display: block;
        padding-top: 7px;

        li {
          margin-bottom: 12px;
          line-height: 1;

          a {
            font-size: 20px;
            line-height: 1;
            text-transform: capitalize;
            white-space: normal;
            padding: 0;
            color: $charcoal;
          }
        }
      }
    }
  }

  .bottom-bar-mobile {
    margin-top: 25px;

    .mobile-contacts {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;

      a {
        text-decoration: none;
      }
    }
  }
}

/*! purgecss end ignore */
