#offices-single {
  background-image: none;

  @media (min-width: 768px) {
    background-image: linear-gradient(to right, $white 0%, $white 50%, $dark-blue 50%, $dark-blue 100%);
  }

  .container {
    padding: 0;

    @media (min-width: 768px) {
      padding: 0 15px;
    }
  }

  .col-left {
    padding: 65px 15px;

    @media (min-width: 768px) {
      padding: 65px 50px 65px 15px;
    }

    h3 {
      margin-bottom: 25px;
    }

    .office-details-container {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 30px 50px;
      margin-bottom: 40px;

      .office-address {
        margin-bottom: 15px;
      }

      .office-phone {
        margin-bottom: 0;
      }

      .office-hours p {
        margin-bottom: 15px;
      }
    }

    .office-map {
      margin-bottom: 40px;

      iframe {
        border: 1px solid $dark-blue;
        max-width: 550px;
      }
    }

    .office-audiologists {
      margin-bottom: 40px;

      ul li a {
        font-weight: $weight-bold;
        color: $charcoal;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        span {
          color: $blue;
        }
      }
    }
  }

  .col-right {
    background-image: url("../images/soundwaves-single-blue.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom center;
    background-color: $dark-blue;
    padding: 65px 15px 155px;

    @media (min-width: 768px) {
      padding: 65px 15px 155px 50px;
      background-color: transparent;
    }

    h2 {
      color: $white;
      margin-bottom: 25px;
    }

    p {
      color: $white;
      margin-bottom: 35px;

      a:hover {
        color: $white;
      }
    }

    .contact-form-container {
      .infusion-field {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 100%;
        margin: 0 0 25px;
        max-width: 550px;
    
        label {
          color: $white;
          font-size: 18px;
          font-weight: $weight-bold;
        }
    
        input[type="text"],
        textarea {
          width: 100%;
          height: 40px;
          border: 1px solid $blue;
          border-radius: 2px;
          background-color: $white;
          font-size: 16px;
          line-height: 1;
          padding: 12px 10px;
        }
      }
    
      .form-textarea {
        textarea {
          height: 100px;
        }
      }
    
      .infusion-submit {
        button:hover {
          color: $white;
          background-color: $blue;
        }
      }
    }
  }
}
