.office-contact-content {
  padding: 24px 10px 30px;
  width: 100%;
  max-width: 550px;
  margin: 60px auto 0;
  border: 1px solid var(--charcoal);
  text-align: center;
  background-color: var(--white);
  z-index: 1;
  position: relative;

  @media (min-width: 576px) {
    padding: 24px 90px 30px;
  }

  h2 {
    margin-bottom: 20px;
  }

  .office-address {
    margin-bottom: 15px;
    line-height: 1.25;
  }

  .office-phone {
    margin-bottom: 4px;
    line-height: 1;

    a {
      color: var(--charcoal);
    }
  }

  .office-notes {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .btn {
    margin-top: 20px;
  }
}

#office-map-embed {
  margin-top: 20px;
  margin-bottom: 50px;
  min-height: 50px;

  @media (min-width: 576px) {
    margin-top: -50px;
  }

  .container {
    padding: 0;
  }

  .map-container {
    border: 1px solid var(--charcoal);
    height: 382px;
  }
}


