#review-paragraph {
  padding-top: 65px;
  padding-bottom: 35px;
}

#review-options {
  background-color: $light-gray;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;

  h2 {
    margin-bottom: 35px;
  }

  .review-buttons {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px 40px;
    margin-bottom: 35px;

    .btn {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .review-logos {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px 40px;

    img {
      width: 100%;
      max-width: 300px;
      height: auto;
    }
  }
}

#client-reviews {
  padding-top: 70px;
  padding-bottom: 90px;

  h2 {
    text-align: center;
  }
}
