/*! purgecss start ignore */

// fonts
$body-font: 'Nanum Gothic', sans-serif;

// weights
$weight-thin: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;
$weight-extra-bold: 800;

// colors
$black: #1a1919;
$charcoal: #3e3e3f;
$light-gray: #f9f9f9;
$white: #fff;
$blue: #007bba;
$light-blue: #19a4db;
$dark-blue: #003052;
$sky-blue: #b7e3f5;
$black-shadow: rgba(0 0 0 / 3%);

/*! purgecss end ignore */
