/*! purgecss start ignore */

// fonts
$body-font: 'Montserrat', sans-serif;

// weights
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;

// colors
$black: #222;
$charcoal: #414141;
$light-gray: #eaeaea;
$white: #fff;
$blue: #4facd8;
$yellow: #f3d34e;
$black-shadow: rgba(0 0 0 / 3%);

/*! purgecss end ignore */
